{% extends 'base.html.twig'%}
{% block title %}
    Mon profil | {{ parent() }}
{% endblock %}
{% block main %}
    <h1>Mon Profil</h1>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">

                {% if app.user.photo %}
                <img src="{{ app.request.getUriForPath(vich_uploader_asset(app.user, 'photoFile')) }}" alt="Photo du profil" class="img-fluid img-thumbnail">
                {% else %}
                    <img src="{{ app.request.getUriForPath('/uploads/images/profils/profil-vide.png') }}" alt="Photo du profil" class="img-fluid img-thumbnail">
                {% endif %}

            </div>
            <div class="col">
                {{ form_start(Formulaire) }}
                {{ form_widget(Formulaire) }}
                <button class="btn btn-primary" type="submit">Envoyer</button>

            </div>
            <div class="col">

            </div>
        </div>
        {{ form_end(Formulaire) }}

    </div>



{% endblock %}